In [2]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Importing Datasets
path=r'C:\Users\manis\Documents\Instacart Basket Analysis'

In [4]:
# Importing Dataset orders_checked.osv
df_ords=pd.read_csv(os.path.join(path,'02 Data','Prepared Data','orders_checked.csv'), index_col=False)

In [5]:
#Importing Dataset order_products_prior
df_ords_prior=pd.read_csv(os.path.join(path,'02 Data','Original Data','order_products_prior.csv'), index_col=False)

In [6]:
# 1. Merging prepared Instacart orders data with the new orders_products_prior dataframe
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [7]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,ordered_today,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both

In [8]:
#Confirming results of merge using merge flag
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [9]:
# Checking the shape of merged dataframe
df_merged_large.shape

(32434489, 13)

In [9]:
# 2. Exporting the merged file in Pickle format
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))